@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

#hero{
    text-align: center;
    font-family: Inter;
}

#hero h1{
    color: #000;
    font-weight: 400;
    font-size: 49px;
}

#hero span#h1{
    font-weight: 700;
    color: #F90;
    font-size: 49px;
}

#hero span#p{
    color: #F90;
}

#hero p{
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    color: #7D7987;
}

a:visited{
    color: #F90;
}

footer{
    margin: auto;
    text-align: center;
    border-top: 1px solid #ECEFF2;
    width: 592px;
    height: 28px;
    
}

footer a{
    font-family: Open Sans;
    font-size: 14px;
    color: #F90;
}