@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    font-family: Open Sans, sans-serif;
}

body{
    text-align: center;
   
}

#hero{
    font-family: Inter, sans-serif;
    width: 592px;
    margin: auto;
}

#hero h1{
    color: #000;
    font-weight: 400;
    font-size: 49px;
    line-height: 56px;
}

#hero span#h1{
    font-weight: bold;
    color: #F90;
    font-size: 49px;
}

#hero span#p{
    color: #F90;
}

#hero p{
    font-size: 14px;
    color: #7D7987;
    line-height: 28px;
}

a:visited{
    color: #F90;
}

footer{
    border-top: 1px solid #ECEFF2;
    
}

footer a{
    font-size: 14px;
    color: #F90;
}